<p class="text-dark">
  Submitted By: {{ quote.submittedBy }} on {{ quote.completeDate | date }}
  <span>(This quote was created {{ quote.completeDate | dateCount }} ago)</span>
</p>

<button
  (click)="upVote(true)"
  id="upvote"
  class="btn btn-outline-success btn-sm"
  style="margin-right: 1%"
>
  {{ quote.upVote }} Upvotes
</button>

<span>
  <button
    (click)="downVote(true)"
    id="dvote"
    class="btn btn-outline-info btn-sm"
  >
    {{ quote.downVote }} Downvotes
  </button>
</span>

<span style="padding-left: 1%">
  <button (click)="quoteDelete(true)" class="btn btn-danger btn-sm">
    Delete Quote
  </button>
</span>
