<!-- nav bar -->
<div class="container-fluid">
  <h1
    class="text-primary"
    style="text-decoration: underline; padding: 2%; text-align: center"
  >
    INSPIRATIONAL <span class="text-danger">QUOTES</span>
  </h1>
</div>

<!-- Quotes list -->
<div class="container" style="margin-top: 1%">
  <div class="row">
    <div class="col-md-12">
      <div
        class="alert alert-success text-white"
        *ngFor="let quote of quotes; let i = index"
      >
        <div>
          <h4
            appHighlight
            [ngClass]="{ highlight: quote.isInspirational }"
            class="text-primary"
          >
            {{ quote.quote }}
          </h4>
          <h5 class="text-primary">-{{ quote.quoteAuthor }}</h5>
          <button (click)="toggleDetails(i)" class="btn btn-outline-danger">
            Quote Details
          </button>
          <br />
        </div>
        <br />
        <div *ngIf="quote.showDescription">
          <app-quote-description
            [quote]="quote"
            (isComplete)="deleteQuote($event, i)"
            (isUpVote)="upVote($event, i)"
            (isDownVote)="downVote($event, i)"
          >
            >
          </app-quote-description>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div style="padding: 2%" class="col-md-12">
      <h1
        class="text-primary"
        style="text-decoration: underline; padding: 2%; text-align: center"
      >
        ADD TO OUR <span class="text-danger"> LIST OF QUOTES!</span>
      </h1>
      <app-form (addQuote)="addNewQuote($event)"> </app-form>
    </div>
  </div>
</div>
<br />
<!-- footer -->
<div>
  <ol
    style="font-size: larger; list-style: none; padding: 3%; padding-left: 40%"
    class="text-success"
  >
    <li>Inspirational Quotes</li>
    <li>info@inspirationalquotes.co.ke</li>
    <li>© 2022 All Rights Reserved</li>
  </ol>
</div>
