<form autocomplete="off" (ngSubmit)="submitQuote()" #quoteForm="ngForm">
  <div class="form-group">
    <label style="font-size: larger" class="text-success" for="quote"
      >New Quote</label
    >
    <textarea
      class="form-control"
      id="quote"
      rows="4"
      required
      name="quote"
      [(ngModel)]="newQuote.quote"
      #quote="ngModel"
    ></textarea>
    <div *ngIf="quote.touched && !quote.valid">
      <p class="alert alert-danger">Name is required</p>
    </div>
  </div>
  <br />
  <div class="form-group">
    <label style="font-size: larger" class="text-success" for="author"
      >Quote Author</label
    >
    <input
      type="text"
      class="form-control"
      id="author"
      name="author"
      required
      [(ngModel)]="newQuote.quoteAuthor"
      #author="ngModel"
    />
    <div *ngIf="author.touched && !author.valid">
      <p class="alert alert-danger">Name is required</p>
    </div>
  </div>
  <br />
  <div class="form-group">
    <label style="font-size: larger" class="text-success" for="submittedBy"
      >Submitted By</label
    >
    <input
      type="text"
      class="form-control"
      id="submittedBy"
      name="submittedBy"
      required
      [(ngModel)]="newQuote.submittedBy"
      #submittedBy="ngModel"
    />
    <div *ngIf="submittedBy.touched && !submittedBy.valid">
      <p class="alert alert-danger">Name is required</p>
    </div>
  </div>
  <br />
  <div class="form-group">
    <label style="font-size: larger" class="text-success" for="date"
      >Date Created</label
    >
    <br />
    <input
      class="form-control datepicker text-success"
      data-date-format="mm/dd/yyyy"
      type="date"
      id="date"
      required
      name="date"
      [(ngModel)]="newQuote.completeDate"
      #date="ngModel"
    />
    <div *ngIf="date.touched && !date.valid">
      <p class="alert alert-danger">Name is required</p>
    </div>
  </div>
  <br />
  <button type="submit" class="btn btn-outline-danger">Add Quote</button>
</form>
